/* мне кажется, это сверстано офигенно!!! */
@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

.page {
	background-color: #ffffff;
	color: black;
}

h1 {
	font-size: 40px;
	font-family: 'PT Sans', sans-serif;
}

h2 {
	font-size: 38px;
	font-family: 'PT Sans', sans-serif;
}

h3 a{
	font-size: 18px;
	font-family: 'PT Sans', sans-serif;
	text-decoration: none;
	color: black;
}

p {
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
}

.subtitle {
	padding: 30px;
}

.imagesContainer, .historyContainer, .starsContainer, .todayContainer, .footerContainer {
	box-sizing: border-box;
	margin-top: 40px;
}


.history, .today {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;	
}

.description {
	width: 400px;
	box-sizing: border-box;
	padding: 10px;
	border-bottom: 1px solid lightgrey;
	background-size: contain;
	box-shadow: 0px 0px 5px grey;	 
}

.headerContainer {
	width: 100%;
	position: fixed;
	top: 0;
	background-color: #ffffff;
	border-bottom: 1px solid lightgrey;
	box-shadow: 0px 0px 5px grey;
	z-index: 1;	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 20px;
}


.links a{
	text-decoration: none;
	color: black;
	box-sizing: border-box;
	font-size: 20px;
	font-family: 'PT Sans', sans-serif;
}

.image {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.image1, .image2, .image3, .image4 {
	width: 700px;
	height: 546px;
	padding-top: 20px;
}

.stars {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.starOne, .starTwo, .starThree, .starFour, .starFive, .starSix  {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.starOnePhoto, .starTwoPhoto, .starThreePhoto, .starFourPhoto, .starFivePhoto, .starSixPhoto {
	width: 150px;
	height: 150px;
	padding-bottom: 10px;
}

.footerContainer {
	box-sizing: border-box;
	border-bottom: 1px solid lightgrey;
	box-shadow: 0px 0px 5px grey;
	margin-top: 50px;
	padding-top: 10px;
	padding-left: 20px;
}
