@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Abel|Share+Tech');

.page {
	background-color: #fafafa;
	color: black;
}

.NameandPhotoContainer {
	height: 750px;
}

.ContentContainer {
	height: 800px;
}


h1{
	text-transform: uppercase;
	font-size: 36px;
	font-family: 'Share Tech', sans-serif;
}

h2 {
	text-transform: uppercase;
	font-size: 54px;
	font-family: 'Share Tech', sans-serif;
}

h3 {
	text-align: left;
	text-transform: uppercase;
	font-size: 36px;
	font-family: 'Share Tech', sans-serif;
}

ul {
	text-align: left;
	font-family: 'Abel', sans-serif;
	font-size: 20px;
	padding-bottom: 10px; /* я бы задавал контейнеру, храниящему p */
	line-height: 30px;
	margin-top: 10px;
}

a {
	text-align: left;
	font-family: 'Abel', sans-serif;
	font-size: 20px;
	color: black;
}

.HeaderContainer {
	width: 100%;
	height: 200px;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	border-bottom: 1px solid lightgrey;
	background-image: url(../img/hands.jpg);
	background-size: contain;
	background-position: 60px 0px;
	box-shadow: 0px 0px 5px grey;
	z-index: 1;
	padding-top: 67px;
	padding-left: 58px;
}

.Name {	
  	display: inline-block;
  	box-sizing: border-box;
  	vertical-align: top;
  	margin-top: 450px;
  	margin-left: 280px;
  	margin-right: 10px;
 }

.Photo {
	box-sizing: border-box;
	margin-top: 250px;
	margin-left: 180px; 
	
}

.Text {
	display: inline-block; 
	vertical-align: top;
	width: 400px;
	height: 750px;
	border: 1px solid lightgrey;
	border-radius: 5px;
	box-shadow: 0px 0px 5px grey;
	box-sizing: border-box;
	margin-top: 50px;
	margin-left: 15px;
	padding: 20px;
}

.Text.first {
	margin-left: 95px;
}

.footerContainer {
	height: 50px;
	box-sizing: border-box;
	border-bottom: 1px solid lightgrey;
	box-shadow: 0px 0px 5px grey;
	margin-top: 50px;
	padding-top: 10px;
	padding-left: 58px;
}